.goods-list {
    width: 100%;
    padding: 10px !important;

    &__top-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 5px 0;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        padding: 5px 0;
    }
}
