.sidebar {
    position: relative;
    min-width: 250px;
    max-width: 300px;
    min-height: 550px;
    background: linear-gradient(
        241.25deg,
        rgba(250, 250, 255, 0.35) 4.4%,
        rgba(255, 255, 255, 0.53) 119.94%
    );
    box-shadow: -10px 33px 105px #7e7ba0;
    border-radius: 16px;
    padding: 10px;

    &__title {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    &__categories-list {
        font-size: 1.4rem;
        border-radius: 10px;
    }

    &__categories-top-item {
        padding: 0.4rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    &__categories-top-item:hover {
        position: relative;
        cursor: pointer;
        color: #fff;
        background-color: #7e7ba0;
        border-color: #7e7ba0;
    }

    &__subcategories-list,
    &__sub-subcategories-list,
    &__sub-sub-subcategories-list {
        display: none;
    }

    &__categories-top-item:hover .sidebar__subcategories-list {
        display: block;
        position: absolute;
        left: 230px;
        top: 0px;
        width: 200px;
        padding: 5px;
    }

    &__categories-top-item:hover .sidebar__subcategories-list > li {
        background-color: #7e7ba0;
    }

    &__categories-top-item:hover .sidebar__subcategories-list > li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__categories-top-item:hover .sidebar__subcategories-list > li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__categories-top-item:hover .sidebar__subcategories-list {
        color: #000;
    }

    &__categories-top-item:hover .sidebar__subcategories-list > li {
        font-size: 1.3rem;
        padding: 3px;
    }

    &__categories-top-item:hover .sidebar__subcategories-list > li:hover {
        position: relative;
        background-color: #e2e2e8;
    }

    &__subcategories-item:hover .sidebar__sub-subcategories-list {
        display: block;
        position: absolute;
        left: 190px;
        top: 0px;
        width: 200px;
        padding: 5px;
        z-index: 10;
    }

    &__subcategories-item:hover .sidebar__sub-subcategories-list > li {
        font-size: 1.2rem;
        padding: 3px;
        background-color: #7e7ba0;
    }

    &__subcategories-item:hover .sidebar__sub-subcategories-list > li:hover {
        position: relative;
        background-color: #e2e2e8;
    }

    &__subcategories-item:hover .sidebar__sub-subcategories-list > li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__subcategories-item:hover .sidebar__sub-subcategories-list > li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__sub-subcategories-list > li:hover .sidebar__sub-sub-subcategories-list {
        display: block;
        position: absolute;
        left: 190px;
        top: 0px;
        width: 150px;
        padding: 5px;
        z-index: 10;
    }

    &__sub-subcategories-list > li:hover .sidebar__sub-sub-subcategories-list > li {
        font-size: 1.2rem;
        padding: 3px;
        background-color: #7e7ba0;
    }

    &__sub-subcategories-list > li:hover .sidebar__sub-sub-subcategories-list > li:hover {
        background-color: #e2e2e8;
    }

    &__sub-subcategories-list > li:hover .sidebar__sub-sub-subcategories-list > li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__sub-subcategories-list > li:hover .sidebar__sub-sub-subcategories-list > li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
