.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    flex: 0 0 120px;
    background: linear-gradient(
        241.25deg,
        rgba(250, 250, 255, 0.35) 4.4%,
        rgba(255, 255, 255, 0.53) 119.94%
    );
    box-shadow: -10px 33px 105px rgba(126, 123, 160, 23%);
    border-radius: 16px;
    padding: 0 20px;

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-title {
        letter-spacing: 5px;
        font-size: 20px;
    }

    &__logo-title,
    &__logo-subtitle {
        font-weight: 600;
    }

    &__logo-img {
        width: 50px;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    &__logo-subtitle {
        font-size: 15px;
        text-transform: uppercase;
    }

    &__resources {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__sites-for-parse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__site {
        position: relative;
        border: 1px solid #e2e2e8;
        border-radius: 9px;
        padding: 3px;
        margin-right: 5px;
    }

    &__site-label:hover,
    &__site-label:focus,
    &__site-label:active {
        cursor: pointer;
    }

    &__site_logo {
        width: 50px;
    }
}

#epicetrk_ua,
#rozetka_com_ua {
    position: absolute;
    opacity: 0;
}
