.instruments-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    &__element {
        position: relative;
    }

    &__element:hover > &__submenu {
        font-size: 1.2rem;
        display: block;
        position: absolute;
        left: 5px;
        top: 27px;
        width: 120px;
        padding: 5px;
        background: linear-gradient(
            241.25deg,
            rgba(250, 250, 255, 0.35) 4.4%,
            rgba(255, 255, 255, 0.53) 119.94%
        );
        border-radius: 5px;
    }

    &__logo {
        width: 20px;
        margin-right: 5px;
    }

    &__logo:hover {
        cursor: pointer;
    }

    &__submenu {
        display: none;
    }

    &__submenu-item {
        padding: 3px;
    }

    &__submenu-item:hover {
        cursor: pointer;
        color: #fff;
        background-color: #7e7ba0;
        border-color: #7e7ba0;
    }
}
