@import './reset.scss';
@import './variables.scss';
@import '../components/Header/Header.scss';
@import '../components/Faq/Faq.scss';
@import '../pages/HomePage/HomePage.scss';
@import '../components/Loader/Loader.scss';
@import '../components/UI-elements/Button/Button.scss';

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../resources/fonts/raleway-v22-latin_cyrillic-regular.eot');
    src: local(''),
        url('../resources/fonts/raleway-v22-latin_cyrillic-regular.eot?#iefix')
            format('embedded-opentype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-regular.woff2') format('woff2'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-regular.woff') format('woff'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-regular.ttf') format('truetype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-regular.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../resources/fonts/raleway-v22-latin_cyrillic-600.eot');
    src: local(''),
        url('../resources/fonts/raleway-v22-latin_cyrillic-600.eot?#iefix')
            format('embedded-opentype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-600.woff2') format('woff2'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-600.woff') format('woff'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-600.ttf') format('truetype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-600.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../resources/fonts/raleway-v22-latin_cyrillic-800.eot');
    src: local(''),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800.eot?#iefix')
            format('embedded-opentype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800.woff2') format('woff2'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800.woff') format('woff'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800.ttf') format('truetype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('../resources/fonts/raleway-v22-latin_cyrillic-italic.eot');
    src: local(''),
        url('../resources/fonts/raleway-v22-latin_cyrillic-italic.eot?#iefix')
            format('embedded-opentype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-italic.woff2') format('woff2'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-italic.woff') format('woff'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-italic.ttf') format('truetype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-italic.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    src: url('../resources/fonts/raleway-v22-latin_cyrillic-800italic.eot');
    src: local(''),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800italic.eot?#iefix')
            format('embedded-opentype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800italic.woff2') format('woff2'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800italic.woff') format('woff'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800italic.ttf') format('truetype'),
        url('../resources/fonts/raleway-v22-latin_cyrillic-800italic.svg#Raleway') format('svg');
}

html {
    font-family: 'Raleway';
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1070px;
    max-width: 90%;
    margin: 0 auto;
    background: radial-gradient(
        28.91% 81.86% at 6.93% 9.5%,
        #fff 0%,
        rgba(254, 254, 255, 0.81) 100%
    );
    box-shadow: -14px -18px 136px rgba(248, 227, 212, 33%);
    border-radius: 16px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
