@import './reset.scss';
@import './variables.scss';
@import '../components/Header/Header.scss';
@import '../components/Faq/Faq.scss';
@import '../pages/HomePage/HomePage.scss';
@import '../components/UI-elements/Button/Button.scss';

/* Font for Logo Title */
@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../resources/fonts/didact-gothic-v14-latin-regular.eot');
    src: local(''),
        url('../resources/fonts/didact-gothic-v14-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        url('../resources/fonts/didact-gothic-v14-latin-regular.woff2') format('woff2'),
        url('../resources/fonts/didact-gothic-v14-latin-regular.woff') format('woff'),
        url('../resources/fonts/didact-gothic-v14-latin-regular.ttf') format('truetype'),
        url('../resources/fonts/didact-gothic-v14-latin-regular.svg#DidactGothic') format('svg');
}

html {
    font-family: 'Didact Gothic';
    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    // height: 100vh;
    margin: 0 auto;
    background: radial-gradient(
        28.91% 81.86% at 6.93% 9.5%,
        #fff 0%,
        rgba(254, 254, 255, 0.81) 100%
    );
    box-shadow: -14px -18px 136px rgba(248, 227, 212, 33%);
    border-radius: 16px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
